.modal-body22 {
  position: absolute !important;
  right: 0 !important;
  margin-top: 11vh !important;
  width: 73.3% !important;
}
.iframevalues123 {
  width: 100% !important;
  height: 76.8vh !important;
}

.leaflet-container11 {
  height: 40vh;
  width: 95%;
}
.formDiv112233 {
  background-color: #fff;
  width: 100%;
  display: flex;
  margin-left: 1rem;
}

.fontFamilys11 {
  font-family: 'poppins';
  font-size: 12px;
}
