.modal-body2 {
  position: absolute !important;
  right: 0 !important;
  margin-top: 11vh !important;
  width: 73.3% !important;
}
.iframevalues {
  width: 99% !important;
  height: 80vh !important;
}
