.formDivasas {
  background-color: #fff;
  height: 89vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nechywalabox {
  height: 3.3rem;
  border: solid rgba(158, 74, 74, 0.2) 1px;
  width: 90%;
  border-radius: 4px;
  margin-top: -7px;
}
.boxtext {
  font-family: 'poppins';
  color: #1c3d6e;
  font-weight: 400;
  margin-top: 1.7rem;
}

.boxtext1 {
  font-family: 'poppins';
  color: #1c3d6e;
  font-weight: 600;
  font-size: 24px;
}

div.onhoverccc:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  cursor: pointer;
}
.modal-body221 {
  position: absolute !important;
  right: 0 !important;
  margin-top: 11vh !important;
  width: 73.3% !important;
}

.leaflet-container_1 {
  height: 360px !important;
  width: 120%;
}
