#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-sider-trigger {
  display: none !important;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  /* margin-bottom: 10px; */
}

.icon {
  padding: 20px;
  min-width: 40px;
  font-size: 34px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 11vh;
  border: solid rgba(0, 0, 0, 0.2) 1px;
}
.iconstageee {
  filter: invert(33%) sepia(4%) saturate(4794%) hue-rotate(175deg)
    brightness(103%) contrast(90%);
}
.iconstageee1 {
  filter: invert(33%) sepia(4%) saturate(4794%) hue-rotate(175deg)
    brightness(103%) contrast(90%);
  height: 1.3rem;
}
