.header21 {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 94vw;
  background-color: #fff;
  height: 11vh;
}
.infoicon {
  font-size: 22px;
  color: #1c3d6e !important;
}
.translation {
  display: flex;
  align-items: center;
}
.translationdiv {
  background-color: rgb(238, 234, 234);
  border-radius: 2rem;
  width: 9rem;
  display: flex;
  margin-top: -0.5rem;
  justify-content: space-evenly;
  align-items: center;
}
.translationtext {
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 13px;
  margin-top: 15px !important;
}
.avatarimg {
  display: flex;
  align-items: center;
}
.namediv {
  line-height: 8px;
  margin-top: 5px;
  margin-left: 3px;
  font-family: 'Poppins';
}

/* 1C3D6E */
.imageoflogo {
  height: 3rem;
}
