.container {
  justify-content: center;
  justify-content: center;
}

.box input[type='submit'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: left;
  border: 2px solid #090a0a;
  padding: 14px 40px;
  bottom: 250px;
  padding-left: 50px;
  outline: none;
  color: rgb(15, 15, 15);
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
}
/* .box input[type = "submit"]:hover{
  background: #268a8a;
} */
.box-1 {
  justify-content: center;
  align-items: center;
  /* background-color: brown; */
  width: 300px;
  padding: 3%;
  position: absolute;
  margin-top: 30%;
  left: 55%;
  transform: translate(-70%, -70%);
  /* background: #191919; */
  text-align: center;
  border-radius: 5%;
  border: 1px solid rgb(151, 150, 150);
}

.box input[type='text'],
.box input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  /* border: 2px solid #3498db; */
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
/* .box input[type = "text"]:focus,.box input[type = "password"]:focus {
width: 280px;
border-color: #2ecc71;
} */
.box input[type='text'],
.box input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  /* border: 1px solid black; */
  padding: 10px 30px;
  outline: none;
  color: black;
  border-radius: 40px;
  width: 100%;
  text-align: start;
  background-color: #eee8e8;
  /* transition: 0.25s; */
}
/* .box input[type = "submit"]:focus,.box input[type = "password"]:hover{
  background: #2ecc71;
} */
.box input[type='submit'] {
  border: 0;
  background: #1c3d6e;
  display: block;
  margin: 20px auto;
  text-align: left;
  /* border: 2px solid #2ecc71; */
  padding: 10px 30px;
  outline: none;
  color: white;
  border-radius: 24px;
  width: 100%;
  text-align: center;
  /* transition: 0.25s; */
  cursor: pointer;
}
/* .box input[type = "submit"]:hover{
  background: #2ecc71;
} */
.fortext {
  color: gray;
  font-size: 85%;
  margin-top: -5%;
}
.sign {
  font-size: 80%;
  color: #2ecc71;
}
.dont {
  color: gray;
  font-size: 80%;
}
.color1122 {
  color: white;
  font-size: 24px;
  background-color: #fff;
  height: 2.7rem;
  margin-top: -4rem;
  margin-left: 1.3rem;
  width: 10rem;
  position: absolute;
}
.imagetag {
  height: 2rem;
}
