.leaflet-container1a1 {
  height: 89vh;
  width: 94vw;
}
.aframebox {
  height: 200px;
  width: 200px;
}
.leaflet-control-layers {
  border-radius: 2rem;
}
.leaflet-bar a {
  border-radius: 1rem !important;
  height: 30px !important;
  width: 30px !important;
  margin-bottom: 10px !important;
}
.leaflet-bar {
  box-shadow: 0 0px 0px rgb(0 0 0 / 65%);
}
